* {
	font-family: 'Lobster', cursive;
	list-style: none; // 목록 스타일 삭제
    text-decoration: none;
	border-collapse: collapse; // 테이블의 선을 붙여주는 기능
	margin: 0px;
	padding: 0px;
	color: black;
}

.topbar{
	background-image: url("상단바.jpg");	
	width: 2000px;
	height: 900px;
	background-repeat: no-repeat;



}

.header{
	display: flex; // 가로로 배열
	width: 1200px;
	margin: auto; // 가운데 배열
	height: 86px;
}

.searchbar{
	width: 300px;
	height: 40px;
	background: green;
	border-radius: 5px;
}

.searchbar > form > input{
	border: none;
	width: 250px;
	height: 40px;
	background: whitesmoke;
	color: black;
	padding-left: 10px; // 검색어 입력창을 약간 왼쪽으로


}

searchbar > form > button{
	width: 50px;
	color: white;
	font-weight: bold; 
	cursor: pointer; // 마우스커서 변경
}

.nav{
	display: flex; //가로 및 가운데 배열
	width: 500px;
	justify-content: flex-end; // div 박스안에서 끝 쪽으로 배열
	line-height: 100px; // 높이를 아래로 내리기
	
	color: white;

}

.nav > li{
	margin-left:84px; // 좌측 배열 및 각각 띄어쓰기


}

.nav > li > a{
 color: black;
text-decoration: none;
}

.sidebar{
	
	display: block;
  border:none;
  height: 600px;
  width: 100%;

}

.tablemenu{
	display: inline-block;
}

.btn_prev{
	left: 0;
	background-image: url("right cursor");
	no-repeat: 50%;
}

.btn_next{
	right: 0;
	background-image: url("left curosr");
	no-repeat: 50%
}


.btn_swiper{
	postion: absolute;
	top: 50%;
	width: 60px;
	margin-top: -30px;
	text-indent: -9999em;
	z-index: 10;
}

.button1{
	margin: 0;
	font-size: 1em;
	font-family: 'Lobster', cursive;
	vertical-align: middle;
	border: none;
	overflow: visible;
	cursor: pointer;
}
