body{
  margin: 0; /* 기본 body 마진 8px 제거*/

}




/*상단바 스타일링*/ 
    .navbar {
      background-color: black;
      color: white;
      height: 80px;
      display: flex;  
      align-items: center; 
      justify-content: center; 
      }

    .navbar-logo {
      font-size: 50px;
      font-weight: bold;  
      text-decoration: none;
      color: white;
    }
    
    .navbar-logo:hover {
  color: red;
  transition: color 0.3s;
}


    .navbar-menu {
      display: flex; 
      list-style: none; 
      margin: 0;
      padding: 0;
    }

    .navbar-menu li {
      margin-left: 20px;
    }

    .navbar-menu li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      padding: 0 10px;
      transition: color 0.3s, border-bottom-color 0.3s;
    }

    .navbar-menu li a:before{ /*아랫 줄 나타나기*/
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.8s;
    }

    .navbar-menu li a:hover {
      color: red;
      border-bottom-color: orangered;
    }

    .navbar-menu li a:hover:before {
      background-color: white;
    }

    a{color: white;
      font-size: 20px;}


  .iframe_box {
  margin-left: 100px;  
  margin-top: 5px; 
  margin-bottom: 50px; 
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08), 
              0px 0px 10px rgba(0,0,0,0.12), 
              0px 0px 10px rgba(0,0,0,0.16), 
              0px 8px 8px rgba(0,0,0,0.20);
 
  width: 500px;
  height: 600px;
}

#tablerow {
  display: flex;
  justify-content: center;
}


 

#mainwrap1{
  background: url("hamburger.jpg") center/cover no-repeat;
  position: relative;
  height: 800px;
  width: 100%;
}
  #mainwrap2{
  background: url("pizza.jpg") center/cover no-repeat;
  position: relative;
  height: 800px;
  width: 100%;
}
#mainwrap3{
  background: url("chicken.jpg") center/cover no-repeat;
  position: relative;
  height: 800px;
  width: 100%;
}

#mainwrap4{
  background: url("coffee.jpg") center/cover no-repeat;
  position: relative;
  height: 800px;
  width: 100%;
}
.logo2{
  height: 60vh;
  background-color: #E0115F;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 0.5px;
  text-align: center;
  

}

.info-cont {
  margin-bottom: 22px;
}

h2 {
  margin-bottom: 12px;
}

p {
  font-size: 20px;
  text-indent: 2em;
}

h1 a{
  font-size: 6em;
  width: 258px;
  color: white;
  font-family: sans-serif;
  position: absolute; 
  top: 80px;
  left: 200px;
  animation: slide 2s ease-out;
  text-decoration: none;
}

h2 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
}

td {
  padding: 0;
}

table {
  border-collapse: collapse;
  
  margin: auto;
}



@keyframes slide{
  from{
    right: -100px;// 시작 지점에서 오른쪽으로 -100만큼 이동, 오류가 뜹니다 죄송합니다
    opacity: 0; //시작 지점에서 투명도를 0으로 설정 
  }
  to{
     right: 200px; // 종료 지점에서 오른쪽으로 200px 이동 
     opacity: 1;
  }
}

@keyframes back{
  from{
    right: 200px;
     opacity: 1; // 시작 지점에서 투명도를 1으로 설정 

  }
  to{
    right: -100px;
    opacity: 0; // 끝나는 지점에서 투명도를 0으로 설정 

  }
}

.copyright {
    background-color: black;
    font-size: 15px;
   
    padding-top: 20px;
    text-align: center;
    width: 100%;
}


.logo2 + table {
    margin-top: 0;
  }




.franchise-button {
  width: 150px;
  height: 150px;
    position: absolute;
    top: 40%;
    right: 400px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: indianred;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .franchise-button:hover {
    background-color: palegreen;
  }
